.section-1 {
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, contenido, footer */
  height: 100vh;
  background-color: rgb(200, 231, 213);
}

.contenedor-cuadros {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  box-sizing: border-box;
  flex-wrap: wrap; /* para que se adapte en pantallas pequeñas */
}

.div-tareas {
  flex: 2;
  background-color: rgb(200, 231, 229);
  border: 2px solid #444;
  border-radius: 8px;
  padding: 1rem;
}

.div-informacion {
  flex: 1;
  background-color: rgb(200, 231, 229);
  border: 2px solid #444;
  border-radius: 8px;
  padding: 1rem;
}

